<!-- <p>instructions works!</p> -->

<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Read the Instructions of this page carefully</mat-card-title>
                        <mat-card-subtitle>One step more to go</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h3>{{quiz.title}}</h3>
                        <p>{{quiz.description}}</p>
                        <mat-divider></mat-divider>
                        <h3>Important Instructions</h3>
                        <ul>
                            <li>This quiz is only for practice purpose.</li>
                            <li>You have to submit quiz with in <b>{{quiz.noOfQuestions}} Minutes.</b> </li>
                            <li>You can attempt the quiz any no. of times.</li>
                            <li>There are <b>{{quiz.noOfQuestions}} questions </b>in the quiz.</li>
                            <li>Each question carries <b> {{quiz.maxMarks/quiz.noOfQuestions}} marks.</b></li>
                            <li>No negative marks for wrong one.</li>
                            <li>All question are of MCQ type.</li>
                        </ul>
                        <mat-divider></mat-divider>
                        <h3>Attempting Quiz</h3>
                        <ul>
                            <li>This quiz is only for practice purpose.</li>
                            <li>You have to submit quiz with in <b>{{quiz.noOfQuestions}} Minutes.</b> </li>
                            <li>You can attempt the quiz any no. of times.</li>
                            <li>There are <b>{{quiz.noOfQuestions}} questions </b>in the quiz.</li>
                            <li>Each question carries <b> {{quiz.maxMarks/quiz.noOfQuestions}} marks.</b></li>
                            <li>No negative marks for wrong one.</li>
                            <li>All question are of MCQ type.</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="container text-center">
                            <button (click)="startQuiz()" mat-raised-button color="accent">Start Quiz</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>